[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
location=4
name=
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=500
viewType=0
visibility=4
wallpaperplugin=org.kde.image

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration]
PreloadWeight=0

[Containments][1][Applets][2][Configuration][General]
isInLatteDock=true
launchers59=applications:firefox.desktop,applications:org.kde.dolphin.desktop,applications:org.kde.konsole.desktop,applications:visual-studio-code.desktop,applications:systemsettings.desktop,applications:notion-app.desktop

[Containments][1][Applets][3]
immutability=1
plugin=org.kde.plasma.analogclock

[Containments][1][Applets][3][Configuration]
PreloadWeight=0

[Containments][1][Applets][4]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][4][Configuration]
PreloadWeight=0

[Containments][1][Applets][4][Configuration][ConfigDialog]
DialogHeight=744
DialogWidth=960

[Containments][1][Applets][4][Configuration][General]
lengthMargin=27

[Containments][1][Applets][5]
immutability=1
plugin=org.kde.plasma.trash

[Containments][1][Applets][5][Configuration]
PreloadWeight=0

[Containments][1][Applets][7]
immutability=1
plugin=org.kde.plasma.virtualdesktopbar

[Containments][1][Applets][7][Configuration]
PreloadWeight=0

[Containments][1][ConfigDialog]
DialogHeight=896
DialogWidth=690

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
advanced=false
alignmentUpgraded=true
appletOrder=2;3;4;5;7
durationTime=x1
iconSize=55
inConfigureAppletsMode=true
maxLength=68
panelOutline=true
panelSize=100
panelTransparency=23
shadowOpacity=60
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
tasksUpgraded=true
thickMargin=12
zoomLevel=2

[Containments][1][Indicator]
customType=org.kde.latte.dashtopanel
enabled=true
enabledForApplets=true
padding=0.14000000059604645
type=org.kde.latte.default

[LayoutSettings]
activities={free-activities}
background=
backgroundStyle=0
color=blue
customBackground=
customTextColor=
disableBordersForMaximizedWindows=false
icon=
lastUsedActivity=6e79376e-5f05-454d-82cc-88473d7e9dbc
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
textColor=fcfcfc
version=2
